{% extends "base.html" %}
{% block title %}
Certificates
{% endblock title %}
{% block body %}
<section id="testimonials" class="testimonials section">
  <!-- Section 1: Certificates - Technical Skills -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Certificates</h2>
    <br>
    <h3>Technical Skills</h3>
  </div>
  <section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/Excel.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/Excel.png" title="Excel" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/DVE.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/DVE.png" title="Data Visualisation using Excel" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/PowerBI.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/PowerBI.png" title="PowerBI" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/ADV.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/ADV.png" title="Advanced Visualisation using PowerBI" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/Tableau.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/Tableau.png" title="Tableau" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/HTML&CSS.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/HTML&CSS.png" title="HTML & CSS" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/MySQL.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/MySQL.png" title="MySQL" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/gicons/Django.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/gicons/Django.png" title="MySQL" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
      </div>
    </div>
  </section>

  <!-- Section 2: Certificates - LinkedIn Certificates -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Certificates</h2>
    <br>
    <h3>LinkedIn Certificates</h3>
  </div>
  <section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-1.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-1.png" title="Writing Customer Service Emails" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-2.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-2.png" title="Non-Technical Skills of Data Scientists" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-3.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-3.png" title="Design Thinking Approach" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-4.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-4.png" title="Customer Service Foundations" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-5.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-5.png" title="Empathy for Customer Service Professionals" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/Licons/L-6.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/Licons/L-6.png" title="Listening to Customers" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
      </div>
    </div>
  </section>

  <!-- Section 3: Certificates - Educational Certificates -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Certificates</h2>
    <br>
    <h3>Educational Certificates</h3>
  </div>
  <section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/guvids.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/guvids.png" title="Master Data Science Completion Certificate" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/UG.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/UG.png" title="Bachelor of Science in Microbiology" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="/static/assets/img/PG.png" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="/static/assets/img/PG.png" title="Master of Science in Environmental Science" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
      </div>
    </div>
  </section>
</section>

{% endblock body %}