{% extends "base.html" %}
{% block title %}
Projects
{% endblock title %}
{% block body %}

<div class="page-title" data-aos="fade">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>Projects</h1>
          <h2 class="mb-0">Share your thoughts & let's turn this into Live discussion! 🦋</h2>
          <a href="mailto:santhoshsrajendran@gmail.com" class="btn">Let's Interact<br></a>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">Projects</li>
      </ol>
    </div>
  </nav>
</div><!-- End Page Title -->

<!-- Gallery Section -->
<section id="gallery" class="gallery section">

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-3 justify-content-center">

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/gallery/project-1.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Youtube Data Harvesting & Warehousing using MongoDB & MySQL</h5>
            <p>This project extracts the particular youtube channel data and analyses it by storing it in a database.</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/YouTube-Data-Harvesting-and-Warehousing-using-SQL-MongoDB-and-Streamlit" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
              
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/gallery/project-2.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Phonepe Pulse Data Visualization</h5>
            <p>This is web app to analyse the Phonepe transaction and users with the help of geo-visualization.</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/Phonepe-Pulse-Data-Visualization-and-Exploration-A-User-Friendly-Tool-Using-Streamlit-and-Plotly" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
              
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/gallery/project-3.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Business Card Data Extraction with OCR</h5>
            <p>This project uses EasyOCR and MySQL to streamline the process of capturing business card data.</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/BizCardX-Extracting-Business-Card-Data-with-OCR" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/project-4.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Airbnb Analysis</h5>
            <p>This project uses MongoDB sample dataset to perform analysis & display visuals in PowerBI & Charts.</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/Airbnb-Analysis" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/project-5.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Employee Atrrition Analysis</h5>
            <p>This project involves train cleaned data model to predict attrition possibility & display visuals in PowerBI & Charts.</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/Employee_Attrition_Model_Analysis" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/project-6.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Industrial Copper Price Prediction</h5>
            <p>This project involves train cleaned data model to predict copper price with user inputs</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/Industrial_Copper_Price_Modelling" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gallery-item h-100 card">
          <img src="/static/assets/img/project-7.png" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title" style="background-color: black; color: white; padding: 10px;">Singapore Flat resale price prediction</h5>
            <p>This project involves train cleaned data model to predict Singapore Flat resale price with user inputs</p>
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="https://github.com/Santhosh-1703/Singapore_Flat_Resale_Price_Prediction" title="GitHub" class="preview-link mx-2"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Gallery Item -->


    </div>

  </div>

</section><!-- /Gallery Section -->
</main>

{% endblock body %}
